@font-face {
    font-family: 'hyperspaceregular';
    src: url('hyperspace-webfont.eot');
    src: url('hyperspace-webfont.eot?#iefix') format('embedded-opentype'),
         url('hyperspace-webfont.woff') format('woff'),
         url('hyperspace-webfont.ttf') format('truetype'),
         url('hyperspace-webfont.svg#hyperspaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// $visual-grid: true;
$max-width: em(100%);
$grid-columns: 12;

$pressStart: 'Press Start 2P', sans-serif;
$robotoSlab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
$georgia: 'Georgia', serif;
$hyperspace: 'hyperspaceregular';

$black: #000;
$dark: #111;
$grey: rgba(140, 138, 141, 1);
$lightGrey: rgba(200, 198, 201,  1);
$white: #FFF;
$beige: #fffcf4;
$red: #f24537;
$redTrans: rgba(242, 69, 55, 0.95);
$green: #89c0af;
$greenTrans: rgba(126, 187, 169, 0.95);
$lightGreen: #93d9c4;
$darkGreen: #629082;
$brown: #421a12;