/////////////////
// animations
/////////////////

.anim-sprite {
    display: block;
    position: absolute;
    z-index: 100;
}
.pacman {
    content: url(../images/anim-sprites/pacman-arcade.png);
    top: -16em;
    left: -100%;
    width: 100px;
}
.ghost {
    top: -16em;
    left: -100%;
    width: 100px;
    height: 100px;
}
.ghost.console {
    content: url(../images/anim-sprites/ghost.png);
}
.ghost.arcade {
    content: url(../images/anim-sprites/ghost-arcade.png);
}
.ghost.arcade.run {
    content: url(../images/anim-sprites/ghost-arcade-run.png);
}
.ghost.console.run {
    content: url(../images/anim-sprites/ghost-run.png)
}
.waypoint {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    opacity: 0;
}
#pacman-waypoint-1 {
    top: -16em;
    left: -20%;
}
#pacman-waypoint-2 {
    top: 1em;
    left: -20%;
}
#pacman-waypoint-3 {
    top: 1em;
    left: 110%;
}
#pacman-waypoint-4 {
    top: 23em;
    left: 110%;
}
#pacman-waypoint-5 {
    top: 23em;
    left: 160%;
}
.pacman-hdr-spacer {
}
h1.pacman-hdr {
    position: absolute;
    z-index: 101;
    width: 100%;
    left: 0;
}
span.pacman-span {
    /*background-color: #fffcf4;*/
    padding: 1.1em .5em;
}