@import'_variables';
@import'_mixins';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import'_defender';
@import'_aside';
@import'_media-query';

/* /////////////////
/* CSS Reset
/* ///////////////// */

/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ */

/*  TODO will need to remove settings on HTML since we can't namespace it.  TODO with the prefix, should I group by selector or property for weight savings?*/

html {
    color: #000;
    background: #fffcf4;
    overflow-x: hidden;
    width: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
/* to preserve line-height and selector appearance */

sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
/*to enable resizing for IE*/

input, textarea, select {
    *font-size: 100%;
}
/*because legend doesn't inherit in IE */

legend {
    color: #000;
}
a {
    text-decoration: none;
}

/* /////////////////
/* Content
/* ///////////////// */

body {
    font-family: $georgia;
    font-size: 17px;
    color: $dark;
    @include media($pad) {
        font-size: 15px;
    }
}
div.bottom-spacer {
    width: 100%;
    height: 8em;
}
/* /////////////////
/* Articles
/* ///////////////// */

article.story {

    section {
        @include clearfix;
    }

    header.article-hdr {
        @include span-columns( 6.5 of 12, block );
        @include shift( 1.5 );
        position: relative;
        display: block;
        // margin: 1em auto 1em auto;
        margin-top: 2em;
        margin-bottom: 1em;
        // width: 60%;
    }
    .article-txt {
        @include span-columns( 6 of 12, block );
        @include shift( 1.5 );
        position: relative;
        // margin: 1em auto 1em 5em;
        max-width: 900px;
        line-height: 1.7em;
        p {
            margin-bottom: 1em;
        }
    }
    .article-hdr h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        padding-top: .2em;
        letter-spacing: .05em;
        line-height: .9em;
        padding-bottom: .4em;
        color: $brown;
    }
    .article-hdr h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: .8em;
        font-weight: 700;
        padding-top: 3em;
        font-family: $pressStart;
        letter-spacing: 1em;
        color: $red;
    }
    // .dash-divider {
    //     text-align: center;
    //     font-size: .8em;
    //     font-weight: 700;
    //     font-family: 'Press Start 2P', sans-serif;
    //     letter-spacing: .3em;
    //     padding-bottom: .6em;
    //     color: $red;
    // }

}

/* /////////////////
/* body quotes
/* ///////////////// */

blockquote.quote {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    color: $red;

    &.left-quote {
        text-align: right;
        display: block;
        float: left;
        width: 55%;
        margin: 0em 1em 1em -3em;
        padding: 0 0 0 0;
    }
    &.center-quote {
        text-align: center;
        display: block;
        float: left;
        width: 170%;
        left: -35%;
        padding: 0 0 0 0;
        margin-left: -30%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    &.right-quote {
        text-align: left;
        display: block;
        float: right;
        width: 50%;
        margin: 0em -4em 1em 1em;
        padding: 0 0 0 0;
    }
}

/* /////////////////
/* asides
/* ///////////////// */

div.aside-container {
    position: relative;
    @include span-columns( 3 of 12 );
    @include clearfix;
    @include transition ( opacity 300ms ease-in-out );
    margin-left: $column+$gutter;
    margin-right: 0;
    float: left;
    display: table;
    height: 800px;
    // overflow-y: auto;
}

div.aside-wrapper {
    float: left;
    width: 100%;
    display: block;
    height: 90%;
    overflow-y: auto;
    position: relative;
}

aside.margin-aside {
    @include transition ( opacity 300ms ease-in-out );
    @include clearfix;
    position: absolute;
    display: block;
    opacity: 0;
    color: $grey;
    font-family: $roboto;
    font-size: .7em;

    h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: .5em;
        text-transform: uppercase;
    }

    h2 {
        @extend h1;
        font-size: 1em
    }

    blockquote {
        color: $darkGreen;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 1em;
    }

    img {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        max-width: 100%;
        max-height: 140%;
        margin: 0 auto;
    }

    div.cropper {
        height: auto;
        width: 100%;
        max-height: 180px;
        max-width: 100%;
        margin: 0 auto 1em auto;
        overflow: hidden;

        @include media($pad){
            height: auto;
            width: auto;
            max-height: 250px;
            max-width: 100%;
            margin: 0 auto 1em auto;
        }
    }

    ul.aside-links {
        a {
            cursor: pointer;
            font-size: 1.2em;
            color: $green;

            &:visited {
                color: $green;
            }
            &:active {
                color: $red;
            }
            &:hover {
                color: $red;
            }
            &:before {
                content: "\00BB  ";
            }

        }
    }

    button.aside-link-button {
        background-image: url("../images/ui/bookmark.png");
        background-size: contain;
        background-color: transparent;
        height: 15px;
        width: 15px;
        border: none;
        margin-left: 1em;
        cursor: pointer;

        &:after {
            opacity: 0;
            font-family: $roboto;
            font-size: 1em;
            color: $beige;
            content: attr(title);
            position: absolute;
            display: table-cell;
            text-align: center;
            background-color: $brown;
            vertical-align: middle;
            width: 8em;
            padding: .2em .5em;
            z-index: 100;
            left: 50%;
            top: 0;
            margin-left: -2em;
            pointer-events: none;
        }
        &:hover:after {
            opacity: 1;
        }
    }
}

.script .aside-container {
    position: fixed;
    z-index: 0;
    top: 10%;
    @include shift(8.5);
    // display: none;
    opacity: 0;
    pointer-events: none;
    height: 80%;

    &.active {
        display: block !important;
        opacity: 1 !important;
        pointer-events: auto;
        z-index: 10;

        ul.aside-links {
            z-index: 100;
            position: relative;
        }
    }
}

.script ul.aside-list {

}

.script ul.aside-list {

}

input.aside-input[type='radio']:checked + aside {
    opacity: 1
}

input.aside-input {
    display: none;
}

label:checked {
    color: $green;
}

ul.aside-list{
    // @include span-columns( 3 of 12, block );
    @include clearfix;
    // margin-left: $column+$gutter;
    width: 100%;
    // position: relative;
    float: left;
    font-family: $roboto;
    color: $grey;
    margin-bottom: 1em;

    h2 {
        font-size: .7em;
        font-weight: 800;
        margin-bottom: .3em;
        text-transform: uppercase;
    }

    li {
        border-bottom: 1px dashed #a2a09c;
        padding: .3em 0;
    }

    label:first-of-type li {
        border-top: 1px dashed #a2a09c;
    }

    label {
        cursor: pointer;
        color: $green;
        font-size: .7em;
        &:hover, &.active {
            color: $red;
        }
    }
}

/* /////////////////
/* drawers
/* ///////////////// */

div.drawer-container {

    @include span-columns( 1.4 of 12 );
    background-color: $brown;
    font-size: .8em;
    color: $beige;
    font-family: $roboto;
    padding: 1em;
    position: fixed;
    top: 10%;
    left: 0;
    margin-left: 1em;

    h1 {
        font-family: $pressStart;
        color: $red;
        margin-bottom: 1em;
        font-size: .7em;

    }
    h2 {

    }

    a {
        color: $beige;
    }



}

div.drawer-nav {

}

table.drawer-sprites, table.drawer-bookmarks {
    margin-bottom: 1em;
}


/* /////////////////
/* margins
/* ///////////////// */

// img.margin-link {
//     content: url(../images/quote-bubble1.png);
//     width: 1em;
//     height: 1em;
// }
// img.margin-link-active {
//     content: url(../images/quote-bubble1-active.png);
// }
// .margin-notes {
//     z-index: 1000;
//     position: absolute;
//     margin: 1em;
//     width: 22%;
// }
// .right-margin p.margin-txt {
//     float: right;
// }
// .margin-note {
//     position: absolute;
//     top: 100px;
// }
// .margin-txt {
//     float: none;
//     padding: .5%;
//     font-family: 'Roboto', sans-serif;
//     font-size: .75em;
//     font-weight: 400;
//     padding: 20px;
//     line-height: 1.7em;
//     background-color: #fffcf4;
//     /*text-align: justify;*/
// }
// .abridged {
//     color: rgba(0, 0, 0, 0);
// }
// .abridged .margin-txt {
//     background-color: rgba(0, 0, 0, 0);
// }
// .unabridged {
//     color: rgba(140, 138, 141, 1);
// }
.pull-qt {
    display: block;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    padding: 10px;
}
/*.pull-qt:hover{
    color: rgba(250, 0, 0, 1);
    background-color: rgba(0, 0, 0, .9);
}*/

.unabridged .pull-qt {
    color: rgba(0, 0, 0, 1);
}
.pull-qt:before {
    content: " ...";
}
.pull-qt:after {
    content: "..";
}
// .citation:before {
//     content: "";
//     display: block;
//     margin-top: 1em;
// }
/* /////////////////
/* Nav Bar
/* ///////////////// */

.nav-bar-mod {
    position: fixed;
    z-index: 9001;
    top: 0;
    display: block;
    width: 100%;
    margin: 0px;
    color: red;
}
.nav-item {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 1.4em 0% 1.4em 0%;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .1em;
    font-weight: 700;
    color: #fdf9ec;
    background-color: rgba(126, 187, 169, .95);
    border-right: #629082 solid 1px;
    border-left: #93d9c4 solid 1px;
}
.nav-item h2 {
    margin-bottom: 15px;
}
.nav-item ul {
    margin-left: -1em;
}
.nav-item:hover {
    -webkit-transition: height 2s, background-color .2s, overflow 2s, -webkit-transform 2s;
    transition: height 2s, background-color .2s, overflow 2s, transform 2s;
    background-color: rgba(106, 154, 140, 1);
    height: 100%;
    cursor: pointer;
}
.nav-list {
    line-height: 1.3em;
    text-align: center;
}
.nav-list-item, .empty-mod {
    height: 4em;
}

/* /////////////////
/* Timeline
/* ///////////////// */

#timeline {
    position: fixed;
    z-index: 9001;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(126, 187, 169, .9);
    padding: .3em 5% .3em 5%;
}
.timeline-bg {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: $brown;
    // background-color: rgba(242, 69, 55, .95);
    z-index: 1000;
    height: 2.6em;
}
.timeline-list {
    font-family: 'Press Start 2P', sans-serif;
    font-size: .6em;
    vertical-align: middle;
    color: #651e14;
    margin: 0 auto;
}
.timeline-list li {
    display: inline-block;
    list-style-type: none;
    width: 9.8%;
    color: #651e14;
}
.timeline-list-item:hover > .timeline-txt {
    opacity: 1 !important;
    /*background-color: rgba(242, 69, 55, 1) !important;*/
    /*z-index: 10000;*/
    text-align: center;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}
#timeline:hover > ul > a > li > .timeline-txt {
    opacity: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}
.timeline-txt {
    position: absolute;
    top: -1.5em;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    opacity: 0;
    margin-left: -6%;
    text-align: center;
    height: 1.8em;
}
.timeline-list a:last-child > li > div.timeline-txt {
    margin-left: -3%;
}
#timeline-first {
    margin-left: 0px;
    text-align: left;
}
.timeline-active {
    opacity: 1;
}
li.timeline-list-active {
    color: #fff;
}
/* /////////////////
/* images
/* ///////////////// */

.inter-image {
    width: 100%;
    height: 350px;
}
.layer2 {
    height: 370px;
    width: 100%;
    text-align: center;
    position: absolute;
}
#stella-image-container .layer2 {
    background-image: url("../images/bg/combat.jpg");
    background-size: cover;
    background-position: 0 -30%;
}
#yars-image-container .layer2 {
    background-image: url("../images/bg/yars.jpg");
    background-size: cover;
    background-position: 0 -30%;
}
.inside-shadow {
    -moz-box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
    -webkit-box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
    box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
}

/* /////////////////
/* citations
/* ///////////////// */

.citation {


}

span.source-name {
    font-style: italic;
}

.in-line-note, .in-line-footnote {
    cursor: pointer;
    position: absolute;
    margin-left: .5em;

    &.active {
        background-color: $red;
    }

    img {
        width: auto;
        height: 1em;
    }
}

.in-line-footnote{

    &:after {
        opacity: 0;
        font-family: $roboto;
        font-size: .7em;
        color: $beige;
        content: attr(title);
        position: absolute;
        display: table-cell;
        text-align: center;
        background-color: $brown;
        vertical-align: middle;
        width: 16em;
        padding: .2em .5em;
        z-index: 100;
        left: -8em;
        top: -100%;
        pointer-events: none;
    }
    &:hover:after {
        opacity: 1;
    }
}

.in-line-note {

}

.in-line-footnote {
    &:after {
        top: -200%;
    }
}

footer.story-footnotes {
    @include span-columns( 6.5 of 12, block );
    @include shift( 1 );
    position: relative;
    // margin: 1em auto 1em 5em;
    max-width: 900px;
    line-height: 1.7em;
    margin-bottom: 4em;

    h2 {
        font-family: $pressStart;
        color: $red;
        font-size: .9em;
    }

    p {
        font-family: $roboto;
        font-size: .8em;
    }

}

/* /////////////////
/* animations
/* ///////////////// */

.sprite {
    display: block;
    position: absolute;
    z-index: 100;
}
.pacman {
    content: url(../images/sprites/pacman-arcade.png);
    top: -16em;
    left: -100%;
    width: 100px;
}
.ghost {
    top: -16em;
    left: -100%;
    width: 100px;
    height: 100px;
}
.ghost.console {
    content: url(../images/sprites/ghost.png);
}
.ghost.arcade {
    content: url(../images/sprites/ghost-arcade.png);
}
.ghost.arcade.run {
    content: url(../images/sprites/ghost-arcade-run.png);
}
.ghost.console.run {
    content: url(../images/sprites/ghost-run.png)
}
.waypoint {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    opacity: 0;
}
#pacman-waypoint-1 {
    top: -16em;
    left: -20%;
}
#pacman-waypoint-2 {
    top: 1em;
    left: -20%;
}
#pacman-waypoint-3 {
    top: 1em;
    left: 110%;
}
#pacman-waypoint-4 {
    top: 23em;
    left: 110%;
}
#pacman-waypoint-5 {
    top: 23em;
    left: 160%;
}
.pacman-hdr-spacer, h1.pacman-hdr {
    position: absolute;
    z-index: 101;
    width: 100%;
    left: 0;
}
span.pacman-span {
    /*background-color: #fffcf4;*/
    padding: 1.1em .5em;
}
#pacman-article-hdr {
    min-height: 10em;
    margin-top: 2em;
}
