/* line 2, ../src/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../src/stylesheets/_defender.scss */
#defender-up {
  margin-bottom: 4em;
  height: 400px;
}

/* line 5, ../src/stylesheets/_defender.scss */
.defender.sales {
  background-image: url(../images/defender/defender-sales.png);
  height: 100%;
  background-size: 104% 100%;
}

/* line 10, ../src/stylesheets/_defender.scss */
.defender.profits {
  background-image: url(../images/defender/defender-profits.png);
  height: 100%;
  background-size: 104% 100%;
}

/* line 15, ../src/stylesheets/_defender.scss */
.chart-index-year {
  width: 105%;
  margin-left: -1%;
  margin-top: 90px;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}

/* line 22, ../src/stylesheets/_defender.scss */
.button-container {
  margin: 0 25%;
  left: 0;
  width: 50%;
}

/* line 27, ../src/stylesheets/_defender.scss */
button.chart {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background-color: #f24537;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0;
  border: 1px solid #d02718;
  display: inline-block;
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: .6em;
  height: 40px;
  width: 110px;
  text-align: center;
}

/* line 54, ../src/stylesheets/_defender.scss */
button.chart:hover {
  background-color: #FF3829;
  cursor: pointer;
}

/* line 58, ../src/stylesheets/_defender.scss */
button.chart:active {
  position: relative;
  top: 1px;
}

/* line 62, ../src/stylesheets/_defender.scss */
button.button-active {
  background-color: #c62d1f;
}

/* line 66, ../src/stylesheets/_defender.scss */
.defender-sprite {
  position: relative;
  width: 50px;
  height: 50px;
}

/* line 71, ../src/stylesheets/_defender.scss */
.defender-ship {
  background: url(../images/defender/ship1.png);
  background-size: 50px 50px;
  left: 8%;
  top: 37%;
}

/* line 77, ../src/stylesheets/_defender.scss */
.defender-ship.profits-sprite {
  left: 25%;
  top: 50%;
}

/* line 81, ../src/stylesheets/_defender.scss */
.defender-hostage {
  background: url(../images/defender/hostage.png);
  background-size: 50px 50px;
}

/* line 85, ../src/stylesheets/_defender.scss */
.hostage-1.sales-sprite {
  left: 30%;
  top: 85%;
}

/* line 89, ../src/stylesheets/_defender.scss */
.hostage-2.sales-sprite {
  left: 70%;
  top: 60%;
}

/* line 93, ../src/stylesheets/_defender.scss */
.hostage-3.sales-sprite {
  left: 90%;
  top: 0%;
}

/* line 97, ../src/stylesheets/_defender.scss */
.hostage-1.profits-sprite {
  left: 30%;
  top: 88%;
}

/* line 101, ../src/stylesheets/_defender.scss */
.hostage-2.profits-sprite {
  left: 62%;
  top: 77%;
}

/* line 105, ../src/stylesheets/_defender.scss */
.hostage-3.profits-sprite {
  left: 83%;
  top: 60%;
}

/* line 109, ../src/stylesheets/_defender.scss */
.defender-alien {
  background: url(../images/defender/alien1.png);
  background-size: 50px 50px;
}

/* line 113, ../src/stylesheets/_defender.scss */
.alien-1.sales-sprite {
  left: 37%;
  top: -17%;
}

/* line 117, ../src/stylesheets/_defender.scss */
.alien-2.sales-sprite {
  left: 60%;
  top: -15%;
}

/* line 121, ../src/stylesheets/_defender.scss */
.alien-3.sales-sprite {
  left: 80%;
  top: -65%;
}

/* line 125, ../src/stylesheets/_defender.scss */
.alien-1.profits-sprite {
  left: 48%;
  top: -5%;
}

/* line 129, ../src/stylesheets/_defender.scss */
.alien-2.profits-sprite {
  left: 60%;
  top: -52%;
}

/* line 133, ../src/stylesheets/_defender.scss */
.alien-3.profits-sprite {
  left: 90%;
  top: -58%;
}

/* line 137, ../src/stylesheets/_defender.scss */
.defender-txt {
  opacity: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-size: .8em;
  vertical-align: middle;
  color: #651e14;
  position: relative;
  top: -40px;
  left: -70px;
  z-index: 1000;
  text-align: center;
  width: 250px;
}

/* line 150, ../src/stylesheets/_defender.scss */
.defender-sprite:hover > .defender-txt {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  opacity: 1;
}

/* line 156, ../src/stylesheets/_defender.scss */
.sales-sprite {
  display: block;
}

/* line 159, ../src/stylesheets/_defender.scss */
.profits-sprite {
  display: none;
}

/* line 1, ../src/stylesheets/_aside.scss */
aside.biography {
  z-index: 9050;
  position: fixed;
  top: 0;
  right: 0px;
  width: 30%;
  right: -30%;
  height: 100%;
  background-color: white;
  color: #fffcf4;
  font-size: .85em;
  -moz-box-shadow: 2px  2px 10px #333;
  -webkit-box-shadow: 2px  2px 10px #333;
  box-shadow: 2px  2px 10px #333;
  overflow: scroll;
}

/* line 18, ../src/stylesheets/_aside.scss */
.biography header {
  text-align: left;
  padding: 1.5em;
  line-height: 1.8em;
}

/* line 24, ../src/stylesheets/_aside.scss */
.biography header h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #89c0af;
}

/* line 31, ../src/stylesheets/_aside.scss */
.bio.crop {
  height: 20em;
  overflow: hidden;
}

/* line 36, ../src/stylesheets/_aside.scss */
.biography img {
  position: relative;
  top: -20px;
  width: 100%;
}

/* line 42, ../src/stylesheets/_aside.scss */
.biography article {
  padding: 1.5em;
  line-height: 1.7em;
  color: #3e322f;
}

/* line 48, ../src/stylesheets/_aside.scss */
.biography blockquote {
  margin-bottom: 1em;
  font-style: italic;
  color: #89c0af;
}

/* line 55, ../src/stylesheets/_aside.scss */
.biography footer {
  padding: 0 1.5em 1.5em 1.5em;
}

/* line 59, ../src/stylesheets/_aside.scss */
.biography a:link {
  color: #f24537;
}

/* line 63, ../src/stylesheets/_aside.scss */
.biography a:visited {
  color: #dc652b;
}

/* line 67, ../src/stylesheets/_aside.scss */
.biography a:hover {
  color: #89c0af;
}

/* line 71, ../src/stylesheets/_aside.scss */
.biography .close {
  right: 6%;
  top: 3%;
  display: block;
  content: url(../images/close.png);
  height: 1.3em;
  width: 1.3em;
  position: absolute;
  z-index: 10000;
  cursor: pointer;
}

/* line 83, ../src/stylesheets/_aside.scss */
img.bio-link {
  content: url(../images/info.png);
  /*background: url(../images/quote-bubble.png);*/
  width: .9em;
  height: .9em;
}

/* line 89, ../src/stylesheets/_aside.scss */
img.bio-link.active {
  content: url(../images/info-active.png);
  /*background: url(../images/quote-bubble.png);*/
}

/* line 94, ../src/stylesheets/_aside.scss */
.close-after {
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
}

/* line 101, ../src/stylesheets/_aside.scss */
.related-pages {
  border-bottom: 1px dashed #a2a09c;
}

/* line 105, ../src/stylesheets/_aside.scss */
.related-pages li {
  line-height: 2.5em;
  border-top: 1px dashed #a2a09c;
}

/* /////////////////
/* CSS Reset
/* ///////////////// */
/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ */
/*  TODO will need to remove settings on HTML since we can't namespace it.  TODO with the prefix, should I group by selector or property for weight savings?*/
/* line 17, ../src/stylesheets/styles.scss */
html {
  color: #000;
  background: #fffcf4;
  overflow-x: hidden;
  width: 100%;
}

/* line 23, ../src/stylesheets/styles.scss */
body, div, dl, dt, dd, ul, ol, li, h1, aside.margin-aside h2, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 27, ../src/stylesheets/styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../src/stylesheets/styles.scss */
fieldset, img {
  border: 0;
}

/* line 34, ../src/stylesheets/styles.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 38, ../src/stylesheets/styles.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../src/stylesheets/styles.scss */
caption, th {
  text-align: left;
}

/* line 44, ../src/stylesheets/styles.scss */
h1, aside.margin-aside h2, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 48, ../src/stylesheets/styles.scss */
q:before, q:after {
  content: '';
}

/* line 51, ../src/stylesheets/styles.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 57, ../src/stylesheets/styles.scss */
sup {
  vertical-align: text-top;
}

/* line 60, ../src/stylesheets/styles.scss */
sub {
  vertical-align: text-bottom;
}

/* line 63, ../src/stylesheets/styles.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 70, ../src/stylesheets/styles.scss */
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 75, ../src/stylesheets/styles.scss */
legend {
  color: #000;
}

/* line 78, ../src/stylesheets/styles.scss */
a {
  text-decoration: none;
}

/* /////////////////
/* Content
/* ///////////////// */
/* line 86, ../src/stylesheets/styles.scss */
body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 17px;
  color: #111111;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 86, ../src/stylesheets/styles.scss */
  body {
    font-size: 15px;
  }
}

/* line 94, ../src/stylesheets/styles.scss */
div.bottom-spacer {
  width: 100%;
  height: 8em;
}

/* /////////////////
/* Articles
/* ///////////////// */
/* line 15, ../src/stylesheets/bourbon/addons/_clearfix.scss */
article.story section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 108, ../src/stylesheets/styles.scss */
article.story header.article-hdr {
  position: relative;
  display: block;
  margin: 1em auto 1em auto;
  width: 60%;
}
/* line 116, ../src/stylesheets/styles.scss */
article.story .article-txt {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 53.08608%;
  margin-left: 8.5298%;
  position: relative;
  max-width: 900px;
  line-height: 1.7em;
}
/* line 38, ../src/stylesheets/neat/grid/_span-columns.scss */
article.story .article-txt:last-child {
  margin-right: 0;
}
/* line 123, ../src/stylesheets/styles.scss */
article.story .article-txt p {
  margin-bottom: 1em;
}
/* line 127, ../src/stylesheets/styles.scss */
article.story .article-hdr h1, article.story .article-hdr aside.margin-aside h2, aside.margin-aside article.story .article-hdr h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  padding-top: .2em;
  letter-spacing: .05em;
  line-height: .9em;
  padding-bottom: .4em;
  color: #421a12;
}
/* line 138, ../src/stylesheets/styles.scss */
article.story .article-hdr h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  font-weight: 700;
  padding-top: 3em;
  font-family: "Press Start 2P", sans-serif;
  letter-spacing: 1em;
  color: #f24537;
}

/* /////////////////
/* body quotes
/* ///////////////// */
/* line 164, ../src/stylesheets/styles.scss */
blockquote.quote {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  color: #f24537;
}
/* line 170, ../src/stylesheets/styles.scss */
blockquote.quote.left-quote {
  text-align: right;
  display: block;
  float: left;
  width: 55%;
  margin: 0em 1em 1em -3em;
  padding: 0 0 0 0;
}
/* line 178, ../src/stylesheets/styles.scss */
blockquote.quote.center-quote {
  text-align: center;
  display: block;
  float: left;
  width: 170%;
  left: -35%;
  padding: 0 0 0 0;
  margin-left: -30%;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 189, ../src/stylesheets/styles.scss */
blockquote.quote.right-quote {
  text-align: left;
  display: block;
  float: right;
  width: 50%;
  margin: 0em -4em 1em 1em;
  padding: 0 0 0 0;
}

/* /////////////////
/* asides
/* ///////////////// */
/* line 203, ../src/stylesheets/styles.scss */
div.aside-container {
  position: relative;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 5.8538em;
  margin-right: 0;
  float: left;
  height: 480px;
  overflow-y: auto;
}
/* line 38, ../src/stylesheets/neat/grid/_span-columns.scss */
div.aside-container:last-child {
  margin-right: 0;
}
/* line 15, ../src/stylesheets/bourbon/addons/_clearfix.scss */
div.aside-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 214, ../src/stylesheets/styles.scss */
aside.margin-aside {
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  opacity: 0;
  color: #8c8a8d;
  font-family: "Roboto", sans-serif;
  font-size: .7em;
}
/* line 225, ../src/stylesheets/styles.scss */
aside.margin-aside h1, aside.margin-aside h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .5em;
  text-transform: uppercase;
}
/* line 232, ../src/stylesheets/styles.scss */
aside.margin-aside h2 {
  font-size: 1em;
}
/* line 237, ../src/stylesheets/styles.scss */
aside.margin-aside blockquote {
  color: #629082;
  margin-bottom: 1em;
}
/* line 242, ../src/stylesheets/styles.scss */
aside.margin-aside p {
  margin-bottom: 1em;
}
/* line 246, ../src/stylesheets/styles.scss */
aside.margin-aside img {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
  max-width: 100%;
}
/* line 254, ../src/stylesheets/styles.scss */
aside.margin-aside div.cropper {
  height: auto;
  width: 100%;
  max-height: 180px;
  max-width: 100%;
  margin: 0 auto 1em auto;
  overflow: hidden;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 254, ../src/stylesheets/styles.scss */
  aside.margin-aside div.cropper {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 100%;
    margin: 0 auto 1em auto;
  }
}
/* line 272, ../src/stylesheets/styles.scss */
aside.margin-aside ul.aside-links a {
  font-size: 1.2em;
  color: #89c0af;
}
/* line 276, ../src/stylesheets/styles.scss */
aside.margin-aside ul.aside-links a:visited {
  color: #89c0af;
}
/* line 279, ../src/stylesheets/styles.scss */
aside.margin-aside ul.aside-links a:active {
  color: #f24537;
}
/* line 282, ../src/stylesheets/styles.scss */
aside.margin-aside ul.aside-links a:hover {
  color: #f24537;
}
/* line 285, ../src/stylesheets/styles.scss */
aside.margin-aside ul.aside-links a:before {
  content: "\00BB  ";
}
/* line 292, ../src/stylesheets/styles.scss */
aside.margin-aside button.aside-link-button {
  background-image: url("../images/ui/bookmark.png");
  background-size: contain;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border: none;
  margin-left: 1em;
}

/* line 303, ../src/stylesheets/styles.scss */
input.aside-input[type='radio']:checked + aside {
  opacity: 1;
}

/* line 307, ../src/stylesheets/styles.scss */
input.aside-input {
  display: none;
}

/* line 311, ../src/stylesheets/styles.scss */
label:checked {
  color: #89c0af;
}

/* line 315, ../src/stylesheets/styles.scss */
ul.aside-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 5.8538em;
  position: relative;
  float: left;
  font-family: "Roboto", sans-serif;
  color: #8c8a8d;
  margin-top: 1em;
}
/* line 38, ../src/stylesheets/neat/grid/_span-columns.scss */
ul.aside-list:last-child {
  margin-right: 0;
}
/* line 15, ../src/stylesheets/bourbon/addons/_clearfix.scss */
ul.aside-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 325, ../src/stylesheets/styles.scss */
ul.aside-list h2 {
  font-size: .7em;
  font-weight: 800;
  margin-bottom: .3em;
  text-transform: uppercase;
}
/* line 332, ../src/stylesheets/styles.scss */
ul.aside-list li {
  border-bottom: 1px dashed #a2a09c;
  padding: .3em 0;
}
/* line 337, ../src/stylesheets/styles.scss */
ul.aside-list label:first-of-type li {
  border-top: 1px dashed #a2a09c;
}
/* line 341, ../src/stylesheets/styles.scss */
ul.aside-list label {
  color: #89c0af;
  font-size: .7em;
}
/* line 344, ../src/stylesheets/styles.scss */
ul.aside-list label:hover, ul.aside-list label.active {
  color: #f24537;
}

/* /////////////////
/* margins
/* ///////////////// */
/* line 354, ../src/stylesheets/styles.scss */
img.margin-link {
  content: url(../images/quote-bubble1.png);
  width: 1em;
  height: 1em;
}

/* line 359, ../src/stylesheets/styles.scss */
img.margin-link-active {
  content: url(../images/quote-bubble1-active.png);
}

/* line 362, ../src/stylesheets/styles.scss */
.margin-notes {
  z-index: 1000;
  position: absolute;
  margin: 1em;
  width: 22%;
}

/* line 368, ../src/stylesheets/styles.scss */
.right-margin p.margin-txt {
  float: right;
}

/* line 371, ../src/stylesheets/styles.scss */
.margin-note {
  position: absolute;
  top: 100px;
}

/* line 375, ../src/stylesheets/styles.scss */
.margin-txt {
  float: none;
  padding: .5%;
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight: 400;
  padding: 20px;
  line-height: 1.7em;
  background-color: #fffcf4;
  /*text-align: justify;*/
}

/* line 386, ../src/stylesheets/styles.scss */
.abridged {
  color: transparent;
}

/* line 389, ../src/stylesheets/styles.scss */
.abridged .margin-txt {
  background-color: transparent;
}

/* line 392, ../src/stylesheets/styles.scss */
.unabridged {
  color: #8c8a8d;
}

/* line 395, ../src/stylesheets/styles.scss */
.pull-qt {
  display: block;
  color: black;
  font-weight: 400;
  padding: 10px;
}

/*.pull-qt:hover{
    color: rgba(250, 0, 0, 1);
    background-color: rgba(0, 0, 0, .9);
}*/
/* line 406, ../src/stylesheets/styles.scss */
.unabridged .pull-qt {
  color: black;
}

/* line 409, ../src/stylesheets/styles.scss */
.pull-qt:before {
  content: " ...";
}

/* line 412, ../src/stylesheets/styles.scss */
.pull-qt:after {
  content: "..";
}

/* /////////////////
/* Nav Bar
/* ///////////////// */
/* line 424, ../src/stylesheets/styles.scss */
.nav-bar-mod {
  position: fixed;
  z-index: 9001;
  top: 0;
  display: block;
  width: 100%;
  margin: 0px;
  color: red;
}

/* line 433, ../src/stylesheets/styles.scss */
.nav-item {
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: inline;
  float: left;
  overflow: hidden;
  padding: 1.4em 0% 1.4em 0%;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .1em;
  font-weight: 700;
  color: #fdf9ec;
  background-color: rgba(126, 187, 169, 0.95);
  border-right: #629082 solid 1px;
  border-left: #93d9c4 solid 1px;
}

/* line 454, ../src/stylesheets/styles.scss */
.nav-item h2 {
  margin-bottom: 15px;
}

/* line 457, ../src/stylesheets/styles.scss */
.nav-item ul {
  margin-left: -1em;
}

/* line 460, ../src/stylesheets/styles.scss */
.nav-item:hover {
  -webkit-transition: height 2s, background-color .2s, overflow 2s, -webkit-transform 2s;
  transition: height 2s, background-color .2s, overflow 2s, transform 2s;
  background-color: #6a9a8c;
  height: 100%;
  cursor: pointer;
}

/* line 467, ../src/stylesheets/styles.scss */
.nav-list {
  line-height: 1.3em;
  text-align: center;
}

/* line 471, ../src/stylesheets/styles.scss */
.nav-list-item, .empty-mod {
  height: 4em;
}

/* /////////////////
/* Timeline
/* ///////////////// */
/* line 479, ../src/stylesheets/styles.scss */
#timeline {
  position: fixed;
  z-index: 9001;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(126, 187, 169, 0.9);
  padding: .3em 5% .3em 5%;
}

/* line 488, ../src/stylesheets/styles.scss */
.timeline-bg {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #421a12;
  z-index: 1000;
  height: 2.6em;
}

/* line 498, ../src/stylesheets/styles.scss */
.timeline-list {
  font-family: 'Press Start 2P', sans-serif;
  font-size: .6em;
  vertical-align: middle;
  color: #651e14;
  margin: 0 auto;
}

/* line 505, ../src/stylesheets/styles.scss */
.timeline-list li {
  display: inline-block;
  list-style-type: none;
  width: 9.8%;
  color: #651e14;
}

/* line 511, ../src/stylesheets/styles.scss */
.timeline-list-item:hover > .timeline-txt {
  opacity: 1 !important;
  /*background-color: rgba(242, 69, 55, 1) !important;*/
  /*z-index: 10000;*/
  text-align: center;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
}

/* line 520, ../src/stylesheets/styles.scss */
#timeline:hover > ul > a > li > .timeline-txt {
  opacity: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
}

/* line 526, ../src/stylesheets/styles.scss */
.timeline-txt {
  position: absolute;
  top: -1.5em;
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1.2em;
  color: #fff;
  display: inline-block;
  opacity: 0;
  margin-left: -6%;
  text-align: center;
  height: 1.8em;
}

/* line 539, ../src/stylesheets/styles.scss */
.timeline-list a:last-child > li > div.timeline-txt {
  margin-left: -3%;
}

/* line 542, ../src/stylesheets/styles.scss */
#timeline-first {
  margin-left: 0px;
  text-align: left;
}

/* line 546, ../src/stylesheets/styles.scss */
.timeline-active {
  opacity: 1;
}

/* line 549, ../src/stylesheets/styles.scss */
li.timeline-list-active {
  color: #fff;
}

/* /////////////////
/* images
/* ///////////////// */
/* line 556, ../src/stylesheets/styles.scss */
.inter-image {
  width: 100%;
  height: 350px;
}

/* line 560, ../src/stylesheets/styles.scss */
.layer2 {
  height: 370px;
  width: 100%;
  text-align: center;
  position: absolute;
}

/* line 566, ../src/stylesheets/styles.scss */
#stella-image-container .layer2 {
  background-image: url("../images/bg/combat.jpg");
  background-size: cover;
  background-position: 0 -30%;
}

/* line 571, ../src/stylesheets/styles.scss */
#yars-image-container .layer2 {
  background-image: url("../images/bg/yars.jpg");
  background-size: cover;
  background-position: 0 -30%;
}

/* line 576, ../src/stylesheets/styles.scss */
.inside-shadow {
  -moz-box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
  -webkit-box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
  box-shadow: inset 0 8px 12px -8px #333, inset 0 -8px 12px -8px #333;
}

/* /////////////////
/* citations
/* ///////////////// */
/* line 591, ../src/stylesheets/styles.scss */
span.source-name {
  font-style: italic;
}

/* line 597, ../src/stylesheets/styles.scss */
.in-line-note.active, .in-line-footnote.active {
  background-color: #f24537;
}
/* line 601, ../src/stylesheets/styles.scss */
.in-line-note img, .in-line-footnote img {
  width: auto;
  height: 1em;
}

/* line 607, ../src/stylesheets/styles.scss */
footer.story-footnotes {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 53.08608%;
  margin-left: 8.5298%;
  position: relative;
  max-width: 900px;
  line-height: 1.7em;
  margin-bottom: 4em;
}
/* line 38, ../src/stylesheets/neat/grid/_span-columns.scss */
footer.story-footnotes:last-child {
  margin-right: 0;
}
/* line 616, ../src/stylesheets/styles.scss */
footer.story-footnotes h2 {
  font-family: "Press Start 2P", sans-serif;
  color: #f24537;
  font-size: .9em;
}
/* line 622, ../src/stylesheets/styles.scss */
footer.story-footnotes p {
  font-family: "Roboto", sans-serif;
  font-size: .8em;
}

/* /////////////////
/* animations
/* ///////////////// */
/* line 633, ../src/stylesheets/styles.scss */
.sprite {
  display: block;
  position: absolute;
  z-index: 100;
}

/* line 638, ../src/stylesheets/styles.scss */
.pacman {
  content: url(../images/sprites/pacman-arcade.png);
  top: -16em;
  left: -100%;
  width: 100px;
}

/* line 644, ../src/stylesheets/styles.scss */
.ghost {
  top: -16em;
  left: -100%;
  width: 100px;
  height: 100px;
}

/* line 650, ../src/stylesheets/styles.scss */
.ghost.console {
  content: url(../images/sprites/ghost.png);
}

/* line 653, ../src/stylesheets/styles.scss */
.ghost.arcade {
  content: url(../images/sprites/ghost-arcade.png);
}

/* line 656, ../src/stylesheets/styles.scss */
.ghost.arcade.run {
  content: url(../images/sprites/ghost-arcade-run.png);
}

/* line 659, ../src/stylesheets/styles.scss */
.ghost.console.run {
  content: url(../images/sprites/ghost-run.png);
}

/* line 662, ../src/stylesheets/styles.scss */
.waypoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  opacity: 0;
}

/* line 669, ../src/stylesheets/styles.scss */
#pacman-waypoint-1 {
  top: -16em;
  left: -20%;
}

/* line 673, ../src/stylesheets/styles.scss */
#pacman-waypoint-2 {
  top: 1em;
  left: -20%;
}

/* line 677, ../src/stylesheets/styles.scss */
#pacman-waypoint-3 {
  top: 1em;
  left: 110%;
}

/* line 681, ../src/stylesheets/styles.scss */
#pacman-waypoint-4 {
  top: 23em;
  left: 110%;
}

/* line 685, ../src/stylesheets/styles.scss */
#pacman-waypoint-5 {
  top: 23em;
  left: 160%;
}

/* line 689, ../src/stylesheets/styles.scss */
.pacman-hdr-spacer, h1.pacman-hdr, aside.margin-aside h2.pacman-hdr {
  position: absolute;
  z-index: 101;
  width: 100%;
  left: 0;
}

/* line 695, ../src/stylesheets/styles.scss */
span.pacman-span {
  /*background-color: #fffcf4;*/
  padding: 1.1em .5em;
}

/* line 699, ../src/stylesheets/styles.scss */
#pacman-article-hdr {
  min-height: 10em;
  margin-top: 2em;
}
