{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

    <meta name="description" content="">
    <meta name="keywords" content="atari, video game crash, 1984, 1977, nolan bushnell, ray kassar, warner">
    <meta name="web-author" content="signalintrusion.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:100,100italic,300,300italic,700,700italic,100,100italic' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" media="all" href="css/bio.css" /> -->
    <link rel="stylesheet" type="text/css" media="all" href="{{ siteUrl }}stylesheets/main.css" />

</head>

<body>
	{% include 'nav-mod.twig' %}
	{% block content %}{% endblock %}
    {% block timeline %}{% endblock %}
</body>
</html>
