<div class="drawer-container">

    <div class="drawer-nav">
        <div class="bookmark-drawer"><h1>bookmarks</h1></div>
        <div class="sprites"><h1>sprites</h1></div>
    </div>
    <table class="drawer-sprites">
        <tr>
            <td>Atari</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>

    <div id="bookmark-drawer-target"></div>


</div>