<script id="home-leftoff-template" type="text/template">
    <h3>Continue where I left off:<h3>
    <p>
        <a href="{{ siteUrl }}<%= data.link %>">
            <%= data.title %>
        </a>
    </p>
</script>