<script id="home-bookmark-template" type="text/template">
    <% for (var i = 0; i < data.bookmarkArray.length; i++) { %>
        <a href="{{ siteUrl }}<%= data.bookmarkArray[i].link %>">
            <li><%= data.bookmarkArray[i].title %></li>
        </a>
    <% } %>
</script>