{% set pageClass = 'home' %}
{% set path = craft.request.getUrl() %}

{% extends '_layout' %}

{% block content %}

<header class="page-hdr">

    <h1>The Video Game Crash</h1>
    <h2>an interactive history</h2>

</header>

<section class="content-links">

    <div id="left-off">
    </div>
    <div id="start">
        <h3>Start Reading From The Beginning:<h3>
        <p><a></a></p>
    </div>
    <div id="toc">
        <h3>Table of contents:<h3>
        <p><a></a></p>
    </div>
    <div id="toc">
        <h3>Your last bookmark:<h3>
        <p><a></a></p>
    </div>

</section>

{% endblock %}


{% block scripts %}
    {% include 'home-scripts.twig' %}
{% endblock %}


