{% set pageClass = 'home' %}
{% set path = craft.request.getUrl() %}

{% extends '_layout' %}

{% block content %}

<header class="page-hdr">

    <h2>The Video Game Crash</h2>
    <h3>an interactive history</h3>

</header>

<section class="content-links">

    <div id="left-off">
    </div>
<!--     <div id="start">
        <h3>Press Start:<h3>
        <h4><a>{{ url('stories') }}</a></h4>
    </div> -->
    <div id="toc">
        <h3>Press Start:<h3>
        <h4><a href="{{ url('stories') }}">Table of Contents</a></h4>
    </div><!--
    <div id="toc">
        <h3>Last Bookmark:<h3>
        <h4><a></a></h4>
    </div> -->

</section>

{% endblock %}


{% block scripts %}
    {% include 'home-scripts.twig' %}
{% endblock %}


