<nav class="nav-bar-mod">
    <a href="{{ siteUrl }}"><div class="nav-item" id="home">Home</div></a>
    <a href="{{ url('timeline') }}"><div class="nav-item" id="companies">Timeline</div></a>
    <a href="{{ url('stories') }}"><div class="nav-item" id="stories">Stories</div></a>
    <div class="nav-item" id="sprites">Sprites
        <div id="sprite-nav-target" class="sprite-drawer">
            <noscript><p>Please Enable Javascript, you luddite</p></noscript>
        </div>
    </div>
    <div class="nav-item" id="bookmarks">Bookmarks
        <ul id="bookmark-nav-target">
            <noscript>Please Enable Javascript</noscript>
        </ul>
    </div>
</nav>