<nav class="nav-bar-mod">
    <a href="index.html"><div class="nav-item" id="home">Home</div></a>
    <a href="companies.html"><div class="nav-item" id="companies">Companies</div></a>
    <a href="people.html"><div class="nav-item" id="people">People</div></a>
    <a href="sources.html"><div class="nav-item" id="sources">Sources</div></a>
</nav>