<nav class="nav-bar-mod">
    <a href="index.html"><div class="nav-item" id="home">Home</div></a>
    <a href="companies.html"><div class="nav-item" id="companies">Timeline</div></a>
    <a href="people.html"><div class="nav-item" id="people">Stories</div></a>
    <a><div class="nav-item" id="bookmarks">Bookmarks</div></a>
    <a><div class="nav-item" id="sprites">Sprites</div></a>
</nav>