{% set pageClass = 'warp' %}
{% set path = craft.request.getUrl() %}

{% extends '_layout' %}

{% block drawer %}

{% include 'drawer.twig' %}

{% endblock %}


{% block content %}

<img src="images/ui/warp.jpg" style="width: 100%; height: auto; margin-top: 2em;">
<div style="width: 100%; padding: 2em; background-color: rgba(100,100,100,0.5); position: fixed; display: block; z-index: 1000; top: 40%"><h1 style="text-align: center; font-family: georgia, serif; font-size: 3em; color: white">Under Construction</h1></div>

{% endblock %}

{% block timeline %}

    {# {% include 'timeline.twig' %} #}

{% endblock %}

{% block scripts %}
    {# {% include 'bookmark-drawer.twig' %} #}
{% endblock %}